ิbody{
    font-family: "Inria Serif", serif;
    font-weight: 300;
    font-style: normal;

}

h2{
    margin-bottom: 5px;
    margin-top: 5px;
}

.new-product-layout{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100px 600px;
}

.help_me {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 350px;
}

/* cancel button */
.cancel-button{
    font-size: 18px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: rgb(255, 115, 115);
    padding: 10px 20px 10px 20px;
    border: 1px solid black;
    font-family: "Nunito", sans-serif;
}

.cancel-button:hover{
    background-color: rgb(224, 65, 65);
}
/* cancel button */

/* add picture button  */
.add-picture-button{
    background-color: white;
    margin-top: 10px;
    margin-left: 30px;
    padding: 10px 20px 10px 20px;
    border: 0.5px solid black;
    font-family: "Nunito", sans-serif;
}

.add-picture-button:hover{
    background-color: rgb(181, 181, 181);
}
/* add picture button  */

.new-image{
    width: 396px;
    height: 379px;
    margin-top: 10px;
    margin-left: 30px;
}

select {
    width: 170px; /* ความกว้างของ dropdown */
    height: 50px;
    padding: 10px; /* ระยะห่างภายใน */
    border: 1px solid black; /* เส้นขอบ */
    /* border-radius: 5px; มุมมน */
    outline: none; /* เอาเส้นขอบออกเมื่อเลือก */
    background-color: white; /* สีพื้นหลัง */
    appearance: none; /* เอาการตกแต่งเริ่มต้นของเบราว์เซอร์ */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAYAAAAf8/9hAAAA2klEQVR42mJ0Y2BgYB1KBIyYgJFRmHgLkVklkAX0AMAgZyg2HkMg0AAAHUAfJgn1r8AAAAAElFTkSuQmCC'); /* สัญลักษณ์ลูกศร */
    background-repeat: no-repeat; /* ไม่ให้ซ้ำ */
    background-position: right 10px center; /* ตำแหน่งของลูกศร */
    font-size: 18px;
    font-family: "Nunito", sans-serif;
}

.new-topright {
    margin: 20px 0px 10px 0px;
    font-family: "Nunito", sans-serif;
}

.downright-item{
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
}

.downright-item-price{
    margin-top: 10px;
    font-family: "Nunito", sans-serif;
}

.new-submit-button{
    margin-top: 15px;
    padding: 10px 35px 10px 35px;
    background-color: white;
    border: 1px solid black;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
}

.new-submit-button:hover{
    background-color: rgb(181, 181, 181);
}

.input-text{
    border: none; /* เอาเส้นขอบออก */
    border-bottom: 1px solid black; /* เส้นขอบด้านล่าง */
    outline: none; /* เอาเส้นขอบออกเมื่อเลือก */
    padding: 5px; /* ระยะห่างภายใน */
    width: 350px; /* ความกว้างของ input */
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
}

.image-preview {
    margin-top: 20px;
    max-width: 300px; /* ปรับขนาดตามต้องการ */
    max-height: 300px; /* ปรับขนาดตามต้องการ */
    display: none; /* เริ่มต้นซ่อน */
}

textarea {
    width: 380px;
    height: 120px;
    font-size: 20px;
    resize: none;
}

@media (max-width: 1024px){
    .help_me {
        width: 300px;
    }

    .new-image{
        width: 200px;
        height: 200px;
    }

    textarea {
        width: 350px;
    }
}

@media (max-width: 768px){
    .cancel-button{
        font-size: 15px;
        margin-left: 5px;
    }

    .add-picture-button{
        font-size: 15px;
        margin-left: 5px;
    }

    .new-image{
        width: 150px;
        height: 150px;
        margin-left: 5px;
    }

    .help_me {
        width: 180px;
    }
    
    .new-topright input{
        width: 270px;
    }

    .downright-item input{
        width: 270px;
    }
    textarea {
        width: 280px;
        font-size: 15px;
    }
}

@media (max-width: 510px){
    .new-product-layout{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
        align-items: start;
        justify-items: start;
    }

    .new-image{
        margin-top: 0;
        margin-left: 0;
        height: 180px;
        width: 200px;
    }
    
    .add-picture-button{
        margin: 10px 0 ;
    }

    .cancel-button{
        margin: 10px 0 0 0;
        margin-bottom: 0;
    }

    .help_me {
        height: 300px;
    }

    .help_me {
        width: 180px;
    }
    
    .new-topright input{
        width: 250px;
    }

    .downright-item input{
        width: 250px;
    }
    textarea {
        width: 250px;
        font-size: 15px;
    }
}