.new-product{
    border: 1px solid black;
    width: 900px;
    height: 700px;
    margin: 15px;
}

.new-product-layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 600px;
}

.border{
    border: 1px solid black;
}


/* cancel button */
.cancel-button{
    font-size: 25px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: rgb(255, 115, 115);
    padding: 10px 20px 10px 20px;
}

.cancel-button:hover{
    background-color: rgb(224, 65, 65);
}
/* cancel button */

/* add picture button  */
.add-picture-button{
    background-color: white;

    margin-top: 10px;
    margin-left: 30px;
    padding: 10px 20px 10px 20px;
    border: 0.5px solid black;
}

.add-picture-button:hover{
    background-color: rgb(181, 181, 181);
}
/* add picture button  */

.new-image{
    width: 396px;
    height: 379px;
    margin-top: 10px;
    margin-left: 30px;
}