.content_1 {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: start;
    padding: 20px;
}

.picture_product {
    grid-column: 1;
}

.detail {
    grid-column: 2;
}

.picture_product img {
    width: 430px;
    height: 420px;
    object-fit: contain;
}

.detail h1 {
    margin-bottom: 0;
    font-size: 40px;
    margin-top: -5px;
    font-family: "Nunito", "K2D";
}

.details{
    margin-top: 0;
    margin-left: 30px;
    color: #9E9C9C;
    font-family: "Nunito", "K2D";
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    font-family: "Nunito", sans-serif;
}

.size {
    width: 100px;
    height: 30px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    padding: 5px;
    font-family: "Nunito", sans-serif;
}

.price {
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
}

.price input {
    width: 250px;
    height: 30px;
    font-size: 20px;
    border: none; /* ซ่อนกรอบ */
    border-bottom: 2px solid black; /* เส้นล่าง */
    outline: none; /* ซ่อนเส้นกรอบเมื่อคลิก */
    padding: 5px; /* ระยะห่างภายใน */
    font-family: "Nunito", sans-serif;
}

.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    padding: 10px;
    width: 150px;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.counter-container button {
    width: 35px;
    font-size: 25px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.counter-container input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
}

.counter-container input::-webkit-outer-spin-button,
.counter-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.counter-container input {
    font-size: 20px;
    text-align: center;
    width: 50px;
    margin: 0 15px;
    border: none;
    background-color: #ffffff;
    color: black;
}

.counter-container input:focus {
    border: none; /* ไม่ให้มีเส้นขอบ */
    outline: none; /* ไม่ให้มีกรอบที่แสดงขอบ */
}

.Allbutton {
    display: flex;
    gap: 20px;
}

.button_cancel1 {
    width: 150px;
    height: 50px;
    border: 1px solid #000;
    font-size: 20px;
    background-color: #ffffff;
    font-family: "Nunito", sans-serif;
}

.button_submit1 {
    width: 150px;
    height: 50px;
    border: 1px solid #000;
    font-size: 20px;
    background-color: #2a9fffb9;
    font-family: "Nunito", sans-serif;
}

.button_cancel1:hover {
    background-color: rgb(181, 181, 181);
}

.button_submit1:hover{
    background-color: rgb(23, 142, 239);
}

@media (max-width: 1024px){
    .picture_product img {
        width: 300px;
        height: 300px;
    }

    .detail h1 {
        font-size: 30px;
    }
    
    .price {
        font-size: 18px;
    }
    
    .price input {
        font-size: 18px;
    }
    
    .counter-container {
        width: 130px;
    }
    
    .counter-container input {
        font-size: 18px;
    }
    
    .button_cancel1 {
        width: 130px;
        font-size: 18px;
    }
    
    .button_submit1 {
        width: 130px;
        font-size: 18px;
    }
}

@media (max-width: 510px){
    .content_1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 30px;
        align-items: start;
        padding: 20px;
    }

    .picture_product {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .detail {
        grid-column: 1;
        grid-row: 2;
    }

    .picture_product img {
        width: 150px;
        height: 150px;

    }

    .detail h1 {
        font-size: 20px;
    }

    .details {
        font-size: 13px;
    }

    .type_txt {
        font-size: 18px;
    }

    .price_txt {
        font-size: 18px;
    }

    .quan_txt {
        font-size: 18px;
    }
    
    .price {
        font-size: 15px;
    }
    
    .price input {
        padding-bottom: 0;
        width: 150px;
        font-size: 15px;
    }
    
    .counter-container {
        width: 100px;
        height: 20px;
    }
    
    .counter-container input {
        font-size: 15px;
    }
    
    .button_cancel1 {
        width: 100px;
        height: 40px;
        font-size: 15px;
    }
    
    .button_submit1 {
        width: 100px;
        height: 40px;
        font-size: 15px;
    }
}