<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prociono&display=swap" rel="stylesheet">
    <title>Anada Jewelry</title>
</head>
<body>
    <video autoplay muted loop>
        <source src="../static/video/vecteezy_purple-diamond-animation_35438782.mp4" type="video/mp4"  class="video">
      Your browser does not support the video tag.
      </video>
      <button onclick="window.location.href='/recordsales/none';">BUY NOW!</button>
</body>
</html>
