<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>LOGIN</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <h1>Anada Jewellry</h1>
                <div class="login">
                    <a href="login.html" class="inside_login">
                        <img src="../static/img/person_5.png" alt="logo" class="login_img">
                        <p>เข้าสู่ระบบ</p>
                    </a>
                </div>
            </div>
            <div class="menu">
                <a id="button_sale_record_id" class="button_sale_record" >Sale Record</a>
                <a id="dropdown_Stock_id" class="dropdown_Stock_class" >Stock</a>
            </div>
        </div>
    </header>

    <body>
        <div class="login_content">
            <div class="box_name">
                <p class="text_anada">ANADA</p>
                <p class="text_jewellry">JEWELLRY</p>
            </div>
            <div class="box_login">
                <h1>login</h1>
                <div class="box_user">
                    <p>User</p>
                    <input type="text">
                </div>
                <div class="box_password">
                    <p>Password</p>
                    <input type="password">
                </div>
                <button>login</button>
            </div>
        </div>
    </body>


    <script src="../static/javascript/login.js"></script>
</body>
</html>