<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/popup_create.css">
</head>

<body>
    <!--  pop up เพิ่มสินค้าใหม่ -->
    <form action="/stock/create/submit" method="post" enctype="multipart/form-data">
        <div class="new-product" id="newProductPopup">
            <div class="new-product-layout">
                <div class="new-topleft">
                    <button type="button" class="cancel-button" id="newCancelButton"> Cancel </button>
                </div>
                <div class="new-topright">
                    <h2 style="margin: 20px 0px 10px 0px;"> Product Name </h2>
                    <input type="text" class="input-text" name="name" required>
                </div>

                <div class="new-downleft">
                    <!-- <img src="/app/img/hippo.jpg" alt="" class="new-image"> -->

                    <button type="button" class="add-picture-button" id="add-picture-button">Add Picture</button>
                    <input type="file" name="file" id="fileInput" style="display: none;" accept="image/png, image/jpeg">
                    <img id="imagePreview" class="new-image" alt="Image Preview" style="display: none;">
                </div>
                <div class="new-downright">
                    <div class="downright-item">
                        <h2> Details </h2>
                        <textarea style="width: 380px; height: 120px; font-size: 20px;" name="info"></textarea>
                    </div>

                    <div class="downright-item">
                        <h2> Type</h2>
                        <select name="product_type" required>
                            <option value="" disabled selected>choose</option>
                            <option value="option0">None</option>
                            <option value="option1">ring</option>
                            <option value="option2">earring</option>
                            <option value="option3">bracelets</option>
                            <option value="option4">bangles</option>
                            <option value="option5">necklaces</option>
                            <option value="option6">pendants</option>
                        </select>
                    </div>

                    <!-- <div class="downright-item">
                        <h2> ต้นทุน </h2>
                        <input type="text" class="input-text">
                    </div> -->

                    <div class="downright-item">
                        <h2> quantity </h2>
                        <div class="slider-container">
                            <input type="text" class="input-text" name="value" required>
                        </div>
                        <div class="downright-item-price">
                            <h2> price </h2>
                            <input type="text" class="input-text" name="price" required>
                        </div>
                        <div class="downright-item">
                            <button type="submit" class="new-submit-button"> Submit </button>
                        </div>
                    </div>
                </div>
    </form>
    </div>
    </div>
    <script src="/js/popup_create.js"></script>
</body>

</html>