<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/website/static/css/popup_edit.css">
</head>
<body>
    <div class="edit-popup" id="edit-popup">
        <div class="edit-layout">
            <input type="file" id="editFileInput" style="display: none;">
            <div class="top">
                <button class="cancel-button"> ลบสินค้า </button>
            </div>
            <div class="left">
                <img src="#" alt="" class="edit-product-picture">
                <button class="change-picture-button" id = "change-picture-button"> Change Picture</button>
            </div>
            <div class="right">
                <div class="right-layout">
                    <div class="margin-inright">
                        <Label for="product-name"> Name: </Label>
                        <input type="text" class="input-text" value="เปลี่ยนชื่อตรงนี้" id="product-name">
                    </div>

                    <div class="margin-inright">
                        <Label for="product-detail"> ข้อมูลสินค้า: </Label>
                        <input type="text" class="input-text" value="เปลี่ยนรายละเอียดสินค้าตรงนี้" id="product-detail">
                    </div>

                    <div class="margin-inright">
                        <Label for="product-type"> ประเภทสินค้า </Label>
                        <select style="padding: 5px 15px 5px 15px;" id="product-type">
                            <option value="option1">แหวน</option>
                            <option value="option2">ต่างหู</option>
                            <option value="option3">สร้อยข้อมือ</option>
                            <option value="option4">กำไล</option>
                            <option value="option5">สร้อยคอ</option>
                            <option value="option6">จี้</option>
                        </select>
                    </div>

                    <div class="margin-inright">
                        <Label for="product-cost"> ต้นทุน: </Label>
                        <input type="text" class="input-text" value="เปลี่ยนต้นทุนตรงนี้" id="product-cost">
                    </div>

                    <div class="margin-inright">
                        <Label for="product-price"> ราคาขาย: </Label>
                        <input type="text" class="input-text" value="เปลี่ยนราคาขายตรงนี้" id="product-price">
                    </div>

                    <div class="margin-inright">
                        <p> จำนวน </p>
                        <div class="quantity-container">
                            <button class="quantity-button" onclick="decrement()">-</button>
                            <input type="text" id="quantity" class="quantity-input" value="20">
                            <button class="quantity-button" onclick="increment()">+</button>
                        </div>
                    </div>

                    <div class="margin-inright">
                        <button class="edit-cancel-button" id="edit-cancel-button" onclick="closeEdit()"> Cancel </button>
                        <button class="edit-submit-button" id="edit-submit-button"> Submit </button>
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script src="/website/static/javascript/popup_edit.js"></script>
</body>
</html>