<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/popup_sale_record_1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="content_1">
        <div class="picture_product">
            <img src="{{ url_for('img', path=Product[3]) }}" alt="img_product">
        </div>

        <form action="/saveRecord/" method="post">
            <div class="detail">
                <input type="hidden" id="product_id" name="id" value="{{ Product[0] }}">

                <h1>Name: {{ Product[1] }}</h1>
                <p class="details">Details {{ Product[2] }}</p>
                <h2 class="type_txt">Type: {{ Product[6] }}</h2>
                <!-- <h2>ข้อมูลสินค้า: {{ Product[2] }}</h2> -->
                <!-- <h2>Size</h2>
            <input class="size" type="text" required> -->
                <h2 class="price_txt">Price</h2>
                <div class="price">
                    <input type="text" name="price" required>
                    <p>BAHT</p>
                </div>
                <h2 class="quan_txt">Quantity</h2>
                <div class="counter-container">
                    <button type="button" id="decrement">-</button>
                    <input type="number" id="counter" name="value" value="1">
                    <button type="button" id="increment">+</button>
                </div>
                <div class="Allbutton">
                    <button type="button" class="button_cancel1" onclick="goBackToMainPage()">Cancel</button>
                    <button type="submit" class="button_submit1" onclick="goBackToMainPage()">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <script src="/js/popup_sale_record_1.js"></script>
</body>

</html>