<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/popup_sale_record_2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>

<body>
    <h1>สั่งซื้อ</h1>
    <form>
        {% for i in Product %}
        <form action="/cart/edit/{{ i[0] }}">
            <div class="list">
                <input type="button" class="bin" onclick="window.location.href='/cart/delete/{{ i[7] }}'">
                <div class="inside_list">
                    <img src="{{ url_for('img', path=i[3]) }}" alt="product">
                    <div>
                        <p>Name : {{ i[1] }}</p> <!-- ชื่อสินค้า-->
                        <p>Type: {{ i[4] }}</p>
                        <p>Details: {{ i[2] }}</p>
                    </div>
                </div>

                <input name="value" type="number" class="quantity" min="1" max="999" value="{{ i[6] }}" 
                    oninput="checkQuantity(this)" onblur="submitValue(this, '{{ i[7] }}')">
                <input name="price" type="text" class="price" value="฿ {{ i[5] }}" oninput="preventRemoveSymbol(this)" onblur="submitPrice(this, '{{ i[7] }}')">

            </div>
            {% endfor %}
        </form>
    </form>
    <table>
        <thead>
            <th>ข้อมูลสั่งซื้อ</th>
        </thead>

        <body>
            <tr class="price_result">
                <td>
                    ราคาสุทธิที่ต้องชำระ
                </td>
                <td>
                    ฿ {{ All_price }}
                </td>
            </tr>
        </body>
    </table>
    <form action="" method="post" class="border_button">
        <div class="both_button">
            <button type="button" class="button_cancel" onclick="goBackToMainPage()">Cancel</button>
            <button type="submit" class="button_submit" onclick="goBackToMainPage()">Submit</button>
        </div>
    </form>
    <script src="/static/javascript/popup_sale_record_2.js">
        
    </script>
</body>

</html>