<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/website/static/css/popup_New_Product.css">
</head>
<body>
    <!-- รวมปุ่ม -->
    <div class="button-box">
        <button> Create product </button>
        <button> Edit product </button>
    </div>
    <div class="new-product">
        <div class="new-product-layout">
            <div class="new-topleft">
                <button class="cancel-button"> Cancel </button>
            </div>
            <div class="new-topright">
                2
            </div>
            <div class="new-downleft">
                <img src="/app/img/hippo.jpg" alt="" class="new-image">
                <button class="add-picture-button"> Add Picture </button>
            </div>
            <div class="new-downright">
                4
            </div>
        </div>
    </div>

    <script src="/website/static/javascript/popup_stock.js"></script>
</body>
</html>