<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/popup_sale_record_2.css">
    <title>Document</title>
</head>
<body>
    <div class="content_2">
        <div class="left_content">
            <button id="edit_button"> Edit </button>
            <img src="../static/img/mock_product.png" alt="img_product">
        </div>

        <div class="right_content">
            <h1>Name: Product</h1>
            <span class="detail_product">รายละเอียดสินค้า</span>
            <p>ประเภทสินค้า: แหวน</p>
            <p>Size: 52</p>
            <p>ราคา: 100,000 BAHT</p>
            <p>จำนวน: 1 ชิ้น</p>
            <div class="both_button">
                <button class="button_cancel" id="cancel_button">Cancel</button>
                <button class="button_submit" id="submit_button">Submit</button>
            </div>
        </div>
    </div>
    <script src="../static/javascript/popup_sale_record_2.js"></script>
</body>
</html>