<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anada Jewellery</title>
    <link rel="stylesheet" href="/static/css/sale_record.css">
    <style>
        .header-container {
            padding: 20px 20px 0 20px;
        }
    </style>
</head>
<body>
    <!-- ส่วนหัวของเว็บพวกแถบเมนู -->
    <header>
        <div class="header-container">
            <div class="logo">
                <h1>Anada Jewellry</h1>
                <div class="login">
                    <a href="/cart" class="cart" onclick="openPopup2(this.href); return false;">
                        <img src="/static/img/shopping-cart.png" alt="shopping_cart" class="cart_img">
                    </a>
                </div>
            </div>
            <div class="menu">
                <a href="/recordsales/none" id="button_sale_record_id" class="button_sale_record" >Sale Record</a>
                <a href="/stock/type-none" id="dropdown_Stock_id" class="dropdown_Stock_class" >Stock</a>
            </div>
        </div>
    </header>

    <!-- ใช้เปิด popup -->
    <div id="popup_cart" class="popup" style="display:none;">
        <iframe id="contentIframe2" width="900" height="600"></iframe>
    </div>

    <!-- ส่วนเนื้อหาข้างใน -->
    <body class="content">
        <div class="white-square">
            <div class="list_product">
                <button class="all_product" onclick="window.location.href='/recordsales/none';"> <img src="/static/img/all.png" width="40px" height="40px">All_product</button>
                <button class="ring" onclick="window.location.href='/recordsales/ring';"> <img src="/static/img/ring.png" width="50px" height="50px">Ring</button>
                <button class="earring" onclick="window.location.href='/recordsales/earring';"> <img src="/static/img/earrings.png" width="50px" height="50px">Earring</button>
                <button class="bracelets" onclick="window.location.href='/recordsales/bracelets';"> <img src="/static/img/bracelet.png" width="50px" height="50px">Bracelets</button>
                <button class="bangles" onclick="window.location.href='/recordsales/bangles';"> <img src="/static/img/bangles.png" width="50px" height="50px">Bangles</button>
                <button class="necklaces" onclick="window.location.href='/recordsales/necklaces';"> <img src="/static/img/necklace.png" width="50px" height="50px">Necklaces</button>
                <button class="pendants" onclick="window.location.href='/recordsales/pendants';"> <img src="/static/img/pendant.png" width="50px" height="50px">Pendants</button>
            </div>
            <div class="show_product">
                {% for i in Available %}
                <div class="product_1">
                    <a href="/recordsales/product/{{ i[0] }}" onclick="openPopup(this.href); return false;"><img src="{{ url_for('img', path=i[3]) }}" ></a>
                    <h3>Name: {{ i[1] }}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>

    <!-- ใช้เปิด popup -->
    <div id="popupContainer" class="popup" style="display:none;">
        <iframe id="contentIframe" width="900" height="600"></iframe>
    </div>

    <script src="/js/sale_record.js"></script>
</body>
</html>