<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anada Jewellery</title>
    <link rel="stylesheet" href="../static/css/sale_record.css">
</head>
<body>
    <!-- ส่วนหัวของเว็บพวกแถบเมนู -->
    <header>
        <div class="header-container">
            <div class="logo">
                <h1>Anada Jewellry</h1>
                <div class="login">
                    <a href="login.html" class="inside_login">
                        <img src="../static/img/person_5.png" alt="logo" class="login_img">
                        <p>เข้าสู่ระบบ</p>
                    </a>
                    <a href="#" class="cart" onclick="openPopup2(); return false;">
                        <img src="../static/img/shopping-cart.png" alt="shopping_cart" class="cart_img">
                    </a>
                </div>
            </div>
            <div class="menu">
                <a id="button_sale_record_id" class="button_sale_record" >Sale Record</a>
                <a id="dropdown_Stock_id" class="dropdown_Stock_class" >Stock</a>
            </div>
        </div>
    </header>

    <!-- ใช้เปิด popup -->
    <div id="popup_cart" class="popup" style="display:none;">
        <iframe src="popup_sale_record_2.html" width="900" height="600"></iframe>
    </div>

    <!-- ส่วนเนื้อหาข้างใน -->
    <body class="content">
        <div class="white-square">
            <div class="list_product">
                <button class="ring"> <img src="../static/img/ring.png" width="50px" height="50px"> แหวน Rings </button>
                <button class="earring"> <img src="../static/img/earrings.png" width="50px" height="50px"> ต่างหู Earrings</button>
                <button class="bracelets"> <img src="../static/img/bracelet.png" width="50px" height="50px"> สร้อยข้อมือ Bracelets</button>
                <button class="bangles"> <img src="../static/img/bangles.png" width="50px" height="50px"> กำไล Bangles</button>
                <button class="necklaces"> <img src="../static/img/necklace.png" width="50px" height="50px"> สร้อยคอ Necklaces</button>
                <button class="pendants"> <img src="../static/img/pendant.png" width="50px" height="50px"> จี้ Pendants</button>
            </div>
            <div class="show_product">
                {% for i in Available %}
                <div class="product_1">
                    <a href="/recordsales/{{ i[0] }}" onclick="openPopup(this.href); return false;"><img src="{{ url_for('img', path=i[3]) }}"></a>
                    <h3>Name: {{ i[1] }}</h3>
                </div>
                {% endfor %}

                <div class="product_1">
                    <a href="#" onclick="openPopup(); return false;"><img src="../static/img/mock_product.png"></a>
                    <h3>Name: Product2</h3>
                </div>

                <div class="product_1">
                    <a href="#" onclick="openPopup(); return false;"><img src="../static/img/mock_product.png"></a>
                    <h3>Name: Product3</h3>
                </div>

                <div class="product_1">
                    <a href="#" onclick="openPopup(); return false;"><img src="../static/img/mock_product.png"></a>
                    <h3>Name: Product4</h3>
                </div>

                <div class="product_1">
                    <a href="#" onclick="openPopup(); return false;"><img src="../static/img/mock_product.png"></a>
                    <h3>Name: Product5</h3>
                </div>

                <div class="product_1">
                    <a href="#" onclick="openPopup(); return false;"><img src="../static/img/mock_product.png"></a>
                    <h3>Name: Product6</h3>
                </div>

                <div class="product_1">
                    <a href="#" onclick="openPopup(); return false;"><img src="../static/img/mock_product.png"></a>
                    <h3>Name: Product7</h3>
                </div>

                <div class="product_1">
                    <a href="#" onclick="openPopup(); return false;"><img src="../static/img/mock_product.png"></a>
                    <h3>Name: Product8</h3>
                </div>

                <div class="product_1">
                    <a href="#" onclick="openPopup(); return false;"><img src="../static/img/mock_product.png"></a>
                    <h3>Name: Product9</h3>
                </div>

                <div class="product_1">
                    <a href="#" onclick="openPopup(); return false;"><img src="../static/img/mock_product.png"></a>
                    <h3>Name: Product10</h3>
                </div>

                <div class="product_1">
                    <a href="#" onclick="openPopup(); return false;"><img src="../static/img/mock_product.png"></a>
                    <h3>Name: Produc11</h3>
                </div>

                <div class="product_1">
                    <a href="#" onclick="openPopup(); return false;"><img src="../static/img/mock_product.png"></a>
                    <h3>Name: Product12</h3>
                </div>
            </div>
        </div>
    </body>

    <!-- ใช้เปิด popup -->
    <div id="popupContainer" class="popup" style="display:none;">
        <iframe id="contentIframe" width="900" height="600"></iframe>
    </div>

    <script src="../static/javascript/sale_record.js"></script>
</body>
</html>