<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anada Jewellery</title>
    <link rel="stylesheet" href="/static/css/stock.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="overlay" id="overlay"></div>
    <!-- ส่วนหัวของเว็บพวกแถบเมนู -->
    <header>
        <div class="header-container">
            <div class="logo">
                <h1>Anada Jewellry</h1>
            </div>
            <div class="menu">
                <a href="/recordsales/none" id="button_sale_record_id" class="button_sale_record" >Sale Record</a>
                <a href="/stock/type-none" id="dropdown_Stock_id" class="dropdown_Stock_class" >Stock</a>
            </div>
        </div>
    </header>

    <!-- ส่วนเนื้อหาข้างใน -->

    <body class="content">
        <div class="white-square">
            <div class="list_product">
                <!-- <button class="all_product"> <img src="/static/img/all.png" width="40px"
                        height="40px">All products</button>
                <button class="ring"> <img src="/static/img/ring.png" width="50px" height="50px">ring</button>
                <button class="earring"> <img src="/static/img/earrings.png" width="50px"
                        height="50px">earring</button>
                <button class="bracelets"> <img src="/static/img/bracelet.png" width="50px"
                        height="50px">bracelets</button>
                <button class="bangles"> <img src="/static/img/bangles.png" width="50px" height="50px">bangles</button>
                <button class="necklaces"> <img src="/static/img/necklace.png" width="50px"
                        height="50px">necklaces</button>
                <button class="pendants"> <img src="/static/img/pendant.png" width="50px" height="50px">pendants</button> -->
                <button class="all_product" onclick="window.location.href='/stock/type-none';"> <img src="/static/img/all.png" width="40px" height="40px">All_product</button>
                <button class="ring" onclick="window.location.href='/stock/type-ring';"> <img src="/static/img/ring.png" width="50px" height="50px">Ring</button>
                <button class="earring" onclick="window.location.href='/stock/type-earring';"> <img src="/static/img/earrings.png" width="50px" height="50px">Earring</button>
                <button class="bracelets" onclick="window.location.href='/stock/type-bracelets';"> <img src="/static/img/bracelet.png" width="50px" height="50px">Bracelets</button>
                <button class="bangles" onclick="window.location.href='/stock/type-bangles';"> <img src="/static/img/bangles.png" width="50px" height="50px">Bangles</button>
                <button class="necklaces" onclick="window.location.href='/stock/type-necklaces';"> <img src="/static/img/necklace.png" width="50px" height="50px">Necklaces</button>
                <button class="pendants" onclick="window.location.href='/stock/type-pendants';"> <img src="/static/img/pendant.png" width="50px" height="50px">Pendants</button>
                
                <button class="new_item" id="new_item" onclick="openNew('/stock/create'); return false;">Add product</button>
                <!-- <button class="delete_item">Delete Product</button> -->
            </div>

            <div class="show_product">
                {% for i in All %}
                <div class="product_1">
                    <a href="/stock/edit/{{ i[0] }}" onclick="openEdit(this.href); return false;"><img
                            src="{{ url_for('img', path=i[3]) }}"></a>
                    <br>
                    <h3>Name: {{ i[1] }}</h3>
                    <h3>Quantity: {{ i[5] }}</h3>
                </div>
                {% endfor %}

                <!-- <div class="product_1">
                    <a onclick=openEdit()><img src="/static/img/mock_product.png"></a>
                    <h3>Name: Product2</h3>
                    <br>
                    <h3>จำนวนสินค้า : 20</h3>
                </div> -->
            </div>
        </div>

        <!-- ใช้เปิด popup -->
        <div id="popupContainer" class="popup" style="display:none;">
            <iframe id="contentIframe" width="100" height="100"></iframe>
        </div>

        <div id="popup_new" class="popup_new" style="display:none;">
            <iframe id="contentIframe2" width="900" height="600"></iframe>
        </div>

        <script src="/js/stock.js"></script>
        <script>
            function closePopup() {
                document.getElementById('popupContainer').style.display = 'none';
            }

            function openNew(url) {
                document.getElementById('popup_new').style.display = 'block';
                var iframe2 = document.getElementById('contentIframe2');
                iframe2.src = url;
                console.log(url)
            }

            function closePopupNew() {
                document.getElementById('popup_new').style.display = 'none';
            }
        </script>
    </body>
</html>