<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anada Jewellery</title>
    <link rel="stylesheet" href="../static/css/sale_record.css">
</head>
<body>
    <!-- ส่วนหัวของเว็บพวกแถบเมนู -->
    <header>
        <div class="header-container">
            <div class="logo">
                <h1>Anada Jewellry</h1>
                <div class="login">
                    <a href="login.html" class="inside_login">
                        <img src="../static/img/person_5.png" alt="logo" class="login_img">
                        <p>เข้าสู่ระบบ</p>
                    </a>
                </div>
            </div>
            <div class="menu">
                <a id="button_sale_record_id" class="button_sale_record" >Sale Record</a>
                <a id="dropdown_Stock_id" class="dropdown_Stock_class" >Stock</a>
            </div>
        </div>
    </header>

    <script src="../static/javascript/sale_record.js"></script>
</body>
</html>